{% if page.comments %}
  <script type="text/javascript">
    {% if page.disqus %}
    var disqus_shortname = '{{ page.disqus }}';
    {% else %}
    var disqus_shortname = '{{ site.disqus }}';
    {% endif %}
   (function() {
     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
{% endif %}
