{% if site.comments == true and site.disqus != '' %}
  <script type="text/javascript">
   {% if page.disqus %}
   var disqus_shortname = '{{ page.disqus }}';
   {% else %}
   var disqus_shortname = '{{ site.disqus }}';
   {% endif %}

   (function () {
     var s = document.createElement('script'); s.async = true;
     s.type = 'text/javascript';
     s.src = '//' + disqus_shortname + '.disqus.com/count.js';
     (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
   }());
 </script>
{% endif %}
