<h1>Featured Posts</h1>

<ul>
<li><p><a href="{% post_url 2011-01-23-why-programming-languages %}" title="Why Programming Languages? essay">Why Programming Languages?</a></p></li>
<li><p><a href="{% post_url 2011-11-25-harmony-proxies-tutorial %}">Harmony Proxies: Tutorial</a></p></li>
</ul>

<h1>Courses</h1>

<ul>
<li><a href="http://soft.vub.ac.be/~tvcutsem/multicore" title="Multicore Programming">Multicore Programming</a></li>
<li><a href="http://soft.vub.ac.be/~tvcutsem/distsys/index.html" title="Distributed Systems (dutch)">Distributed Systems</a></li>
<li><a href="http://soft.vub.ac.be/~tvcutsem/teaching/wpo/grafsys/index.html" title="Computer Graphics (Exercises)">Computer Graphics</a></li>
</ul>

<h1>Software</h1>

<ul>
<li><a href="http://code.google.com/p/ambienttalk" title="AmbientTalk open source project">AmbientTalk</a></li>
<li><a href="https://github.com/tvcutsem/harmony-reflect" title="ECMAScript 6 Reflect API">ES6 Reflect/Proxy Shim</a></li>
<li><a href="http://soft.vub.ac.be/~tvcutsem/traitsjs/" title="Traits.js traits for Javascript">traits.js</a></li>
<li><a href="https://github.com/tvcutsem/" title="My projects on GitHub">more on Github</a></li>
</ul>