<h1>Featured Posts</h1>

<ul>
    <li>
        <p><a href="{% post_url 2018-07-22-membranes %}">Membranes</a></p>
    </li>
    <li>
        <p><a href="{% post_url 2013-01-21-distributed-resilient-secure-ecmascript %}">Distributed Resilient Secure
                ECMAScript</a></p>
    </li>
    <li>
        <p><a href="{% post_url 2012-03-29-membranes-in-javascript %}">Membranes in JavaScript</a></p>
    </li>
    <li>
        <p><a href="{% post_url 2011-01-23-why-programming-languages %}" title="Why Programming Languages? essay">"Why
                Programming Languages?" essay</a></p>
    </li>
</ul>

<h1>Software</h1>

<ul>
    <li><a href="https://unixgame.io" title="The Unix Game">The Unix Game</a></li>
    <li><a href="https://github.com/nokia/code-compass" title="Code Compass">Code Compass</a></li>
    <li><a href="https://worldwidestreams.io" title="World-wide Streams">World Wide Streams</a></li>
    <li><a href="https://github.com/tvcutsem/harmony-reflect" title="ECMAScript 6 Reflect API">ES6 Reflect/Proxy
            Shim</a></li>
    <li><a href="https://soft.vub.ac.be/amop/" title="AmbientTalk open source project">AmbientTalk</a></li>
    <li><a href="http://soft.vub.ac.be/~tvcutsem/traitsjs/" title="Traits.js traits for Javascript">traits.js</a></li>
    <li><a href="https://github.com/tvcutsem/" title="My projects on GitHub">more on Github</a></li>
</ul>