<div class="sidebar well">
{{ site.description }}
</div>

<div class="sidebar well">
  <a class="twitter-timeline"
     href="https://twitter.com/tvcutsem"    
     data-widget-id="623931947585282052">Tweets by @tvcutsem</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<!--
<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        {% for post in site.posts limit:3 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>
-->

<div class="sidebar well">
{% include links-list.html %}
</div>
